.logo {
    &__container {
        align-items: center;
        display: flex;
        height: 4rem;
        justify-content: center;
        width: 3rem;

        .logo {
            &__img {
                height: 2.5rem;
            }
        }
    }
}
