@import "./../styles/color";
@import "./../styles/medias.scss";

.navbar {
    background-color: $base-color;
    position: fixed;
    height: 4rem;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &__container {
      padding-left: 20px;
      padding-right: 20px;
      width: calc(100% - 10%);
      display: flex;


       // /* Large devices (laptops/desktops, 992px and up) */
      @media only screen and (min-width: $minwidthlg) {
        width: 800px;
        justify-content: center; /* center items vertically, in this case */
        align-items: center;     /* center items horizontally, in this case */
      }
    }

    .menu{
        &__wrapper {
            width: auto;
            height: 4rem;
            display: flex;
            margin-left: auto;
            // /* Large devices (laptops/desktops, 992px and up) */
            @media only screen and (min-width: $minwidthlg) {
              width: 100%;
              align-items: center;
              justify-content: center;
            }
        }
    }
}
